.board-container {
  height: 600px;
  width: 564px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

@media only screen and (max-width: 440px) {
  .board-container {
    height: 300px;
    width: 300px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
}
