.container-game {
  text-align: center;
  .title {
    margin-top: 50px;
    color: white;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      color: #26ffcb;
      padding-left: 15px;
    }
  }
  .result {
    font-size: 2rem;
    padding: 10px;
    &.green {
      color: #5a5;
    }
    &.red {
      color: #a55;
    }
  }
}

@media only screen and (max-width: 440px) {
  .container-game .title {
    font-size: 30px;
  }
}
